body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f0f0f0;
}
.header,
.footer {
    background-color: #1d3557;
    color: #f1faee;
    padding: 20px;
    text-align: center;
    font-size: 1.8em;
    font-weight: bold;
}
.header {
    border-bottom: 2px solid #457b9d;
}
.footer {
    border-top: 2px solid #457b9d;
    margin-top: auto; /* Pushes the footer to the bottom */
}

.parent {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
    flex-grow: 1; /* Allows the parent to take up available space */
}
.div1 {
    background-color: #a8dadc;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    color: #1d3557;
}
.div2 {
    background-color: #457b9d;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    color: #f1faee;
}